@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300..700&display=swap');

body {
    background: var(--bg);
    color: var(--text);
    margin: 0;

    font-family: "Quicksand", sans-serif;
}

.app-container {
    display: flex;
    height: 100vh;
}
.sidebar {
    position: relative;
    width: 23%;
}
.left {
    padding-right: 1rem;
}
.right {
    padding-left: 1rem;
}
.centre-container {
    position: relative;
    width: 49%;

    border-style: solid;
    border-color: var(--border-faint);
    border-width: 0px 1px;
    padding: 1rem;
}


.chat-list {
    width: 100%;
    height: fit-content;
    padding: 1rem 0;
    border: 2px solid var(--border-normal);
    border-top: 0;
    color: var(--text-muted);

    .chat-container {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        height: fit-content;
        cursor: pointer;
    }
    .chat-icon {
        font-size: 1.5rem;
        line-height: 1.5;
    }
    .chat-name {
        font-size: 1.5rem;
        font-weight: bold;

    }
    .selected {
        color: var(--text);
    }

}
.profile-menu {
    position: relative;
    width: 100%;
    height: 23%;
    border: 2px solid var(--border-normal);

    display: flex;
    flex-direction: column;


    .edit-btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
        border: none;
        background: transparent;
        color: var(--text);
        cursor: pointer;
    }

    .profile-header {
        display: flex;
        gap: 1.5rem;
        margin: 0.5rem;

        img {
            border-radius: 50%;
            width: 96px;
            height: 96px;
        }
        .profile-username {
            font-weight: bold;
            font-size: 2rem;
            line-height: 3;
        }
        textarea {
            margin-top: 1rem;
            width: 55%;
            height: 4rem;
            font-family: "Quicksand", sans-serif;
            font-size: 2rem;
            border: 2px solid var(--border-faint);
            background: transparent;
            color: var(--text);
            resize: none;
        }

    }
    .profile-body {
        display: flex;
        gap: 2rem;
        flex-direction: row;
        margin: 1rem;
        .profile-about-header {
            font-weight: bold;
            font-size: 1rem;
            line-height: 0;
        }
        .profile-about-content {
            font-size: 0.9rem;
        }
        textarea {
            width: 55%;
            height: 1.8;
            font-family: "Quicksand", sans-serif;
            font-size: 0.9rem;
            border: 2px solid var(--border-faint);
            background: transparent;
            color: var(--text);
            resize: none;
        }
    }

    .pfp-editable {
        cursor: pointer;
        outline: 2px dashed var(--text-muted);
        outline-offset: 4px;
    }
    .pfp-editable:hover {
        outline-color: var(--text);
    }

}

#profile-popup {
    position: absolute;
    background: var(--bg-dark);
    color: var(--text);
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    z-index: 9999;

    textarea {
        background-color: transparent;
        color: var(--text);
        border: 2px solid var(--text);
        font-size: 1.3rem;
        height: fit-content;
        width: 10ch;
        resize: none;
    }
    .profile-header {
        display: flex;
        gap: 0.5rem;
        img {
            width: 72px;
            height: 72px;

            border-radius: 50%;
        }
        .profile-username {
            font-weight: bold;
            font-size: 1.3rem;
            text-align: center;
            line-height: 3.4;
        }
        button {
            background: transparent;
            color: var(--text-muted);
            border: none;
            height: 2rem;
            width: 2rem;
            font-size: 1.5rem;
            line-height: 3;
            margin: 0;
        }
    }
    .about-container {
        margin-top: 1rem;
        .profile-about-header {
            font-weight: bold;
            margin: 0;
        }
        .profile-about-content {
            font-size: 0.9rem;
            margin: 0;
        }
        button {
            background: transparent;
            color: var(--text-muted);
            border: none;
            height: 2rem;
            width: 2rem;
            font-size: 1rem;
            margin: 0;
        }
        textarea {
            font-size: 0.9rem;
        }        
    }
}

.hidden {
    display: none;
}


.message-container {
    height: calc(100% - 3.5rem);
}

.message {

    height: fit-content;
    display: flex;
    margin-bottom: 1rem;

    div {
        display: grid;
    }

    img {
        width: 48px;
        height: 48px;

        border-radius: 50%;
        margin-right: 1rem;
    }

    .message-header {
        display: flex;
        gap: 0.9rem;
        height: fit-content;
    }

    .message-username {
        width: max-content;
        height: max-content;

        font-weight: bold;
        font-size: 1.1rem;

        user-select: none;
    }
    .message-username:hover {
        text-decoration: underline;
    }

    .message-timestamp {
        opacity: 50%;
        font-size: 0.87rem;
        line-height: 1.5;

    }

    .message-content {
        width: 45vw;
        height: fit-content;
        font-weight: 500;
        line-height: 1.3;
        overflow-wrap: break-word;
        margin: 0;
        font-size: 0.97rem;
        overflow: visible;
    }
}

.chatbox-container {
    width: 100%;
    textarea {
        width: 99%;
        height: 3rem;
        resize: none;
        border: 2px solid var(--bg-light);
        background: var(--bg-dark);
        border-radius: 10px;
        line-height: 3.25;
        font-size: 0.9rem;
        color: var(--text);
    }
}


#settings-button {
    width: 3rem;
    height: 3rem;
    background: transparent;
    color: var(--text);
    border: none;
    font-size: 2rem;
    cursor: pointer;    
    position: fixed;
    right: 1rem;
    top: 1rem;    
}

.separator {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--text-muted);
    font-weight: bold;
    font-size: 0.95rem;
    margin-bottom: 1rem;
}

.separator::before, .separator::after {
    content: "";
    flex: 1;
    height: 1px;
    background: var(--text-muted)
}

.settings-menu {
    height: 90%;
    padding-top: 5rem;
}


.switch-container {
    width: 100%;
    display: flex;          
    justify-content: space-between; 
    align-items: center;    
    padding: 0 0.5rem;    
}
.switch-label {
    width: 100px;
    font-size: 1.2rem;
}
.switch {
    margin: 1rem;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-light);
    transition: .4s
}
.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 4px;
    bottom: 4px;
    background-color: white;
}
input:checked + .slider {
    background-color: var(--text-muted);
}
input:focus + .slider {
    box-shadow: 0 0 1px var(--text-muted);
}
input:checked + .slider:before {
    transform: translateX(25px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
} 


#hue-slider {
    position: relative;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);

    height: 1rem;
    appearance: none;
    border-radius: 5px;
    background: linear-gradient(to right,
        hsl(0,100%,50%),
        hsl(60,100%,50%),
        hsl(120,100%,50%),
        hsl(180,100%,50%),
        hsl(240,100%,50%),
        hsl(300,100%,50%),
        hsl(360,100%,50%)
    );

    border-radius: 10vw;
    border: 3px solid var(--text-muted);
}
#hue-slider::-webkit-slider-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
    border: 2px solid #0004;
}

#hue-slider::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
    border: 2px solid #0004;
}