body {
    margin: 0;
    background: #1c1c1c;
    color: white;

    font-family: "Quicksand", sans-serif;
    
    display: grid;
    place-items: center;

    height: 100vh;
    width: 100vw;

}


.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;

    width: 20%;
    height: fit-content;
    padding: 3rem;
    padding-bottom: 4.2rem; /* add extra space for register button */
    position: relative;

    background-color: #333;


    a {
        position: absolute;
        margin-top: 1rem;
        padding: 0.3rem;
        height: 1.2rem;
        width: 20%;
        font-size: 1rem;
        color: white;
        border: none;
        background: #aa7bff;
        font-weight: bold;
        cursor: pointer;

        text-decoration: none;

        border-radius: 10px;
        text-align: center;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);

    }
}
#register-form {

    display: flex;
    flex-direction: column;


    h1 {
        text-align: center;
        margin-bottom: 3rem;
    }
    label {
        font-weight: bold;
        font-size: 1.2rem;
        color: #aaa
    }
    input[type="text"], input[type="password"] {
        background: #555;
        color: #ddd;
        border: none;
        height: 2rem;
        font-size: 1.2rem;

        border-radius: 10px;
        margin-bottom: 1rem;
    }
    button {
        margin-top: 1rem;
        height: 2.5rem;
        font-size: 1.2rem;
        color: white;
        border: none;
        background: #aa7bff;
        font-weight: bold;
        cursor: pointer;

        border-radius: 10px;
    }
}